<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>  
<head>  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  </head>  
<body>
	Greetings from OSA,
	
	We would like to know if you are truly a member of <%= @org.name %>.
	Please click the link if you are.<br>
	<%= link_to 'Send Confirmation', "http://122.2.243.71:3000/notifier/confirm/#{@member.id}" %>
	
</body>
</html> 