<td class = "navigation_area">

<h3>Organization Account</h3>
	<ul>
			<li><%= link_to 'Announcements', :controller => 'organizations', :action => 'index' %>
			<li><%= link_to 'Application Forms', :controller => 'organizations', :action => 'show_forms' %>
			<li>Application Instruction
			<li><%= link_to 'Change Password', :controller => 'organizations', :action => 'change_password' %>
		<li><%= link_to 'Logout', :controller => 'main', :action => 'logout' %>
	</ul>
</td>