<%= render :partial => '/organizations/menu' %>
<td class = "content_area">
	<h2><hr>View Form<hr></h2>
		<%= image_tag(@pathname, :width =>800) %>
		<br><br>
		<%= button_to "Back", :controller => 'awards', :action => 'upload_certificate'%>
		
</td>