<td class = "navigation_area">

<h3>Organization Account</h3>
	<ul>
			<li><%= link_to 'Announcements', :controller => 'organizations', :action => 'index' %>
			<li><%= link_to 'Application Forms', :controller => 'organizations', :action => 'show' %>
		<li><%= link_to 'Logout', :controller => 'main', :action => 'logout' %>
	</ul>
</td>