<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>  
<head>  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  </head>  
<body>
	<br>Your Username is:<%= @username%>
	<br>Your Password is:<%= @password%>
	<br><br>[Memory is] a man's real possession...In nothing else is he rich, in nothing else is he poor.
	<br>-Alexander Smith(1830 -1867)
</body> 
</html> 