<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  </head>  
<body>
	Greetings from OSA,<br>
	<br>
	
	We would like to know if you are truly a member of <%= @org.name %>.<br>
	Please click the link to the confirmation page and fill in the nessesary details if you are indeed a member.<br>
	<%= link_to 'Membership Confirmation', "http://localhost:3000/students/profile/#{@member.confirmation_key}" %>
	
</body>
</html> 