<td class = "content_area">
<h1>FORGOT PASSWORD</h4>
paki ayos nalang ng view.. XD<br>
<br><br><h4>If you also forgot your username please go to OSA office to retrive it.<br>
Remember to bring valid identification.</h4>
<br><strong><font color = 'green'> Request will be sent in organization's head E-mail account</font></strong>
<br>If in case no mail was recieve, report to OSA office for assistance<br>
	<% form_tag '/notifier/get_password' do %>
		<label>USERNAME:</label><br>
		<%= text_field_tag 'username' %><br><br>
		<%= submit_tag 'send' %>
	<% end %>
	</div>

</td>