<%= render :partial => '/osas/menu' %>
<td class = "content_area">
	<h2><hr>Organization Listing<hr></h2>			
	<div class = "content">
	<ul>
	
	<li><%= link_to "Show list of all organizations", :controller => "osas", :action => "show_all_orgs"%>
	<br><br>
	<li>Search organization<br>
	<% form_tag '/osas/search_result' do %>	
		<%= text_field_tag 'name', nil, :size => 30 %>
		<%= submit_tag 'search' %>
	<% end %>
	
	</ul>
	</div>

</td>