<%= render :partial => '/organizations/menu' %>
<td class = "content_area">
	<h2><hr>Announcements<hr></h2>
	<h3>Status: <%=h @current_user.status %></h3>
	<div class = "content">
		<b><font color="red">ALWAYS LOGOUT BEFORE CLOSING THE WINDOW.</font></b><br>
		<ul>
			<% for announcement in @announcements %>
				<li> <%= announcement.message %><br><br></li>
			<% end %>
		<ul>
	</div>
</td>