<td class ="content_area">
<div id="notification"><%= flash[:notice]%></div>
<p>
<% for account in @accounts %>
	<%= account.username %> <%= link_to 'Show', :controller => 'accounts', :action => 'show', :id => account.id %>
	
	<br>
<% end %>
<%= link_to 'Add Account', :controller => 'accounts', :action => 'new' %>
</p>
</td>

