<%= render :partial => '/osas/menu' %>
<td class = "content_area">
	<h2><hr>New Application<hr></h2>
	<h4><%="There are #{@newOrg.size} New Application(s) to be Checked" %></h4>
	<ul>
	<% for application in @newOrg %>
		<li><%= link_to "#{application.name} (#{application.acronym})" , :controller => "osas", :action => "show_forms", :id => application.id %>
	<% end %>
	</ul>
<br><br><%= link_to 'Create New Organization Account', :action => 'new'%>
</td>