<%= render :partial => '/osas/menu' %>
<td class = "content_area">
	<h2><hr>Form 2<hr></h2>
		<ul>
			 <%= image_tag("/data/#{@data.name}/#{@yearsem}/#{@pathname}", :width =>800) %>
		<ul>
</td>